* {
	box-sizing: border-box; /*IE*/
	-webkit-box-sizing: border-box; /* Safari/Chrome*/
    -moz-box-sizing: border-box;    /*Firefox*/
}

body {
	font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    height: 100vh;
    background: linear-gradient(180deg, rgba(228,213,194,1) 50%, rgba(200,181,158,1) 90%);
}

nav > ul  {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly; 
    padding: 0;
    margin: 0;
    background-color: white;
}

nav > ul > li {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.nav > li > a {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100%;
}

.pokeDex {
    background-color: rgb(224, 93, 93);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border: 2px solid #000000;
}

.teamBuilder {
    background-color: rgb(228, 213, 194);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border: 2px solid #000000;
    border-bottom: none;
}

.collectionTracker {
    background-color: rgb(131, 180, 199);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border: 2px solid #000000;
}

main {
    text-align: center;
}

.mainLogo {
    align-self: center;
    margin: 10px auto;
    height: 100px;
}

h1 {
    margin: 10px auto;
}

form,
h1 {
    text-align: center;
}

.teamOf6 {
    margin: 5px 10px;
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}

.enterTeam {
    background: linear-gradient(180deg, rgba(160,160,160,1) 20%, rgba(92,92,92,1) 80%);
} /* separate from ID to set default background color and allow for JS changes */

#enterTeam {
    border: 5px solid #000000;
    border-radius: 11px;
    margin: 0 8px 8px 8px;
}

.teamOptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "name name"
      "char color";
}

#teamNameDiv {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 20px auto;
    grid-area: name;
}

#teamCharDiv {
    text-align: center;
    grid-area: char;
}

#teamColorDiv {
    grid-area: color;
}

.teamOptions > div > h2,
.team > div > h2 {
    text-align: center;
}

.playerIcon {
    height: 100px;
    width: 100px;
}

h2 {
    font-size: 1.5em;
}

#teamName,
#enterMon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31px;
    margin-left: auto;
    margin-right: auto;
}

.userTeamName {
    margin-top: auto;
    margin-bottom: auto;
}

.userTeamName > span {
    display: inline-block;
    width: 250px;
    word-wrap: break-word;
    font-size: 50px;
}

select {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin: 0 5px;
    margin-bottom: 5px;
}

input,
.playerIconSelect {
    padding: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border-width: 3px;
    border-color: #bbbbbb;
    background-color: #f8f8f8;
    color: #000000;
    border-style: solid;
    border-radius: 17px;
    height: 30px;
    width: 160px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.7);
}

button {
    background: #858585;
    font-family: 'Josefin Sans', sans-serif;
    background-image: linear-gradient(to bottom, #858585, #cccccc);
    border-radius: 17px;
    color: #000000;
    font-weight: bold;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    height: 31px;
  }
  
button:hover {
    background: #787878;
    background-image: linear-gradient(to bottom, #787878, #b3b3b3);
    text-decoration: none;
  }

.teamColor {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 3px;
    column-gap: 3px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

#versionColor{
    border: 4px solid black;
    height: 25px;
    width: 25px;
}

.placeHolder {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border:  8px solid black;
    height: 433px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
}

.tempEntry {
    border:  8px solid black;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    font-weight: 1000;
    height: 433px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.description {
    width: 75%;
    margin-bottom: 10px;
}

.tip {
    background-color: black;
    color: white;
    height: 433px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    
}

.tip > span {
    display: flex;
    margin: auto;
    height: 33%;
}

.tip > span > p {
    margin: auto;
}

.pointleft {
    font-size: 50px;
}

.entry {
    border-radius: 5px;
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.52);
    text-align: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title > h2 {
    margin: 10px auto;
    flex-grow: 3;
    text-align: left;
    text-transform: capitalize;
}

.dex {
    height: 25px;
    width: 25px;
    margin: 4px;
}

.title > button,
.reload {
    height: 30px;
    width: 25px;
    padding: 5px;
    margin: 4px;
    text-align: center;
}

.addButton {
    margin: auto;
    display: block;
    border:  8px solid black;
    padding: 0;
    border-radius: 5px;
    font-size: 65px;
    width: 75px;
    height: 75px;
    color: black;
}

.useLater {
    display: none;
}

.PokeImg {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}


.PokeballImg {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.PokeNameImg {
    width: 200px;
    height: 74px;
    margin: 10px auto;
}

.PokeNameImgInvert {
    width: 200px;
    height: 74px;
    transform: rotate(180deg);
    margin: 10px auto;
}

.types {
    display: flex;
    justify-content: space-around;
}

.typeIcon {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bolder;
    padding: 3px;
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 3px #000000;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.61);
}

select,
option {
    text-transform: capitalize;
}

.statsGraph {
    display: flex;
    justify-content: flex-start;
}

.statName {
    margin: 0 2px 0 0;
    font-weight: bolder;
}

.statBar {
    margin: 0;
    text-align: left;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white;
    width: 100%;
}

.hp {
    background-color: #fc3131;
}
.attack {
    background-color: #F08030;
}
.defense {
    background-color: #c2a42e;
}
.special-attack {
    background-color: #6890F0;
}
.special-defense {
    background-color: #78C850;
}
.speed {
    background-color: #f365b3;
}

.statItem {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    height: 20px;
    line-height: 20px;
}

/* ================================= 
Media Queries
==================================== */

@media (min-width: 769px) {
    .mainLogo {
        height: 125px;
    }
    
    h1 {
        margin: 25px auto;
    }

    .teamColor {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .useLater {
        display: inline;
        height: 30px;
        width: 25px;
        padding: 5px;
        margin: 4px;
        text-align: center;
    }

    .title > h2 {
        text-align: center;
    }

    h2 {
        margin-bottom: 20px;
    }

    .teamOptions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
          "char name color";
        padding-bottom: 10px;
    }

    #teamNameDiv {
        grid-area: name;
        height: 160px;
        margin: 0 auto;
    }
    
    #teamCharDiv {
        width: auto;
        grid-area: char;
    }

    #teamCharDiv > h2 {
        margin-bottom: 0;
    }

    #teamCharDiv > select {
        margin-top: 20px;
    }
    
    #teamColorDiv {
        width: auto;
        grid-area: color;
    }

    .teamOf6 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2%;
    }

} /* for better display on iPads/Tablets  */

@media (min-width: 1155px) {

    .mainLogo {
        height: 150px;
    }

    .teamOf6 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 2%;
    }

    .userTeamName > span {
        width: 400px;
    }

    .statItem {
        height: 25px;
        line-height: 25px;
    }

    .PokeImg {
        width: 150px;
        height: 150px;
    }

    .placeHolder,
    .tip,
    .tempEntry {
        height: 513px;
    }
    

}

@media (min-width: 1320px) {
    h2 {
        font-size: 1.5em;
    }

    .userTeamName > span {
        width: 500px;
    }

    .typeIcon {
        font-size: 15px;
    }

    .placeHolder,
    .tip,
    .tempEntry {
        height: 527px;
    }
}

